.container{
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(10, 9, 10), rgb(245, 245, 245));

}

.main{
    border-radius: 7px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.348);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title{
    margin: 0;
    font-size: 28px;
}


.login{
    padding: 8px;
    background-color: #555458;
    color: #fff;
    font-weight: 700;
}
.mainFooter{
    border-top: 1px solid #050303;

}